# Tayler Stegman
## Week 3 - 09/7/2023 - 09/12/2023
### Built-in Data Structures - Python Lists []

In [1]:
# Lists are used to store multiple items with different types in a single variable.
# Lists are created using square brackets
# List items are ordered, changeable, and allow duplicate values.

In [2]:
my_list = [50, 55, 60, 80, 90]

In [3]:
my_list

[50, 55, 60, 80, 90]

In [4]:
type(my_list)

list

In [5]:
my_list = [50, 89, 90, 'Alice', 'Bob', 'Jen', 3.55, 6.55, True, False]

In [6]:
my_list

[50, 89, 90, 'Alice', 'Bob', 'Jen', 3.55, 6.55, True, False]

In [7]:
print(my_list)

[50, 89, 90, 'Alice', 'Bob', 'Jen', 3.55, 6.55, True, False]

In [8]:
len(my_list)

10

In [9]:
fruits = ['Apple','Banana','Cherry',"Kiwi"]

In [10]:
# Access to list values
fruits[1]

'Banana'

In [11]:
fruits[0]

'Apple'

In [12]:
fruits[-1]

'Kiwi'

In [13]:
fruits[-2]

'Cherry'

In [14]:
my_list

[50, 89, 90, 'Alice', 'Bob', 'Jen', 3.55, 6.55, True, False]

In [15]:
my_list[3]

'Alice'

In [16]:
#slicing
#[Start:End:Step]
my_list[1:3]

[89, 90]

In [17]:
my_list[:5]

[50, 89, 90, 'Alice', 'Bob']

In [18]:
my_list[:4]

[50, 89, 90, 'Alice']

In [19]:
my_list[::]

[50, 89, 90, 'Alice', 'Bob', 'Jen', 3.55, 6.55, True, False]

In [20]:
#reverse listing or indexing
my_list[-1]

False

In [21]:
my_list[-2]

True

In [22]:
my_list[-3:-1]

[6.55, True]

In [23]:
my_list[-3:]

[6.55, True, False]

In [24]:
my_list

[50, 89, 90, 'Alice', 'Bob', 'Jen', 3.55, 6.55, True, False]

In [25]:
my_list[0] = 100

In [26]:
my_list[3] = 'Tayler'

In [27]:
my_list

[100, 89, 90, 'Tayler', 'Bob', 'Jen', 3.55, 6.55, True, False]

In [28]:
my_list[-1] = [1,2,3]

In [29]:
my_list

[100, 89, 90, 'Tayler', 'Bob', 'Jen', 3.55, 6.55, True, [1, 2, 3]]

In [30]:
#add a new element using +
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [31]:
fruits + ['Orange']

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [32]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi']

In [33]:
fruits += ['Orange']

In [34]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [35]:
#double the list using *
fruits * 2

['Apple',
 'Banana',
 'Cherry',
 'Kiwi',
 'Orange',
 'Apple',
 'Banana',
 'Cherry',
 'Kiwi',
 'Orange']

In [36]:
# Use the built-in function
'''
To add new values to the end of the list, use append() method.
'''
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange']

In [37]:
fruits.append('Blueberry')

In [38]:
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange', 'Blueberry']

In [39]:
'''
You can merge one list into another by using extend() method.
'''
lst = ['a','b','cc','d']

In [40]:
lst

['a', 'b', 'cc', 'd']

In [41]:
lst.extend([1,2,3,True,False,'Alice'])

In [42]:
lst

['a', 'b', 'cc', 'd', 1, 2, 3, True, False, 'Alice']

In [43]:
# pop in place function (change the list)
'''
If you know the index of the item you want, you can use pop() method.
It modifies the list and returns the removed item
'''
fruits

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Orange', 'Blueberry']

In [44]:
fruits.pop(0)

'Apple'

In [45]:
fruits

['Banana', 'Cherry', 'Kiwi', 'Orange', 'Blueberry']

In [46]:
fruits.pop(-2)

'Orange'

In [47]:
fruits

['Banana', 'Cherry', 'Kiwi', 'Blueberry']

In [48]:
fruits.pop()

'Blueberry'

In [49]:
fruits

['Banana', 'Cherry', 'Kiwi']

In [50]:
len(fruits)

3

In [51]:
fruits.pop(2)

'Kiwi'

In [52]:
"""
If you don't need the removed value, use the del statement
"""
lst

['a', 'b', 'cc', 'd', 1, 2, 3, True, False, 'Alice']

In [53]:
del lst[1]

In [54]:
lst

['a', 'cc', 'd', 1, 2, 3, True, False, 'Alice']

In [55]:
# sort element, in place function
ch_lst = ['c','r','a','e','b']

In [56]:
ch_lst.sort()

In [57]:
ch_lst

['a', 'b', 'c', 'e', 'r']

In [58]:
ch_lst.reverse()

In [59]:
ch_lst

['r', 'e', 'c', 'b', 'a']

In [60]:
ch_lst.insert(1, 100)

In [61]:
ch_lst

['r', 100, 'e', 'c', 'b', 'a']

In [62]:
# Nested list
list1 = [90,80,70]
list2 = [60,50,40]
list3 = [40,30,20]

In [63]:
nested_list = [list1, list2, list3]

In [64]:
nested_list

[[90, 80, 70], [60, 50, 40], [40, 30, 20]]

In [65]:
nested_list[0]

[90, 80, 70]

In [66]:
nested_list[1]

[60, 50, 40]

In [67]:
nested_list[2]

[40, 30, 20]

In [68]:
nested_list[0][-2]

80

In [69]:
nested_list[0][-1]

70

In [70]:
nested_list[2][1]

30

In [71]:
range(10)

range(0, 10)

In [72]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
lst = list(range(10))

In [74]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
lst.insert(1,'red')

In [76]:
lst

[0, 'red', 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
lst.remove(7)

In [78]:
lst = list(range(10,21))

In [79]:
lst

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [80]:
lst.insert(1,'red')

In [81]:
lst

[10, 'red', 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [82]:
lst.remove(13)

In [83]:
lst

[10, 'red', 11, 12, 14, 15, 16, 17, 18, 19, 20]

In [84]:
lst.insert(1,'red')

In [85]:
lst

[10, 'red', 'red', 11, 12, 14, 15, 16, 17, 18, 19, 20]

In [87]:
lst.remove(12)

In [88]:
# in operator
10 in lst

True

In [89]:
'blue' in lst

False

In [90]:
lst = ['saw', 'small', 'he', 'foxes','six','cis350','welcome']

In [91]:
lst.sort(key=len)

In [92]:
lst

['he', 'saw', 'six', 'small', 'foxes', 'cis350', 'welcome']

In [96]:
#zip()
#zip 'pairs' up the elements of a number of lists
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three', 'four']
zipped_list = zip(seq1,seq2)

In [97]:
zipped_list

In [98]:
lst = list(zipped_list)
lst

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [99]:
lst[0]

('foo', 'one')

In [100]:
lst[-1]

('baz', 'three')

In [101]:
len(lst)

3

In [123]:
#Access nested list
lst = ['a','b',['aa','bb',['ddd','eee']],'f','g',[1,2,[3,4]]]
lst

['a', 'b', ['aa', 'bb', ['ddd', 'eee']], 'f', 'g', [1, 2, [3, 4]]]

In [124]:
lst[0]

'a'

In [125]:
lst[2]

['aa', 'bb', ['ddd', 'eee']]

In [126]:
lst[2][1]

'bb'

In [127]:
lst[2][2][1]

'eee'

In [128]:
lst[2][2].insert(1,'aaa')

In [129]:
lst

['a', 'b', ['aa', 'bb', ['ddd', 'aaa', 'eee']], 'f', 'g', [1, 2, [3, 4]]]

In [130]:
lst[-1][-1].append(10)

In [131]:
lst

['a', 'b', ['aa', 'bb', ['ddd', 'aaa', 'eee']], 'f', 'g', [1, 2, [3, 4, 10]]]

In [132]:
lst[2].extend([1,2,3])

In [133]:
lst

['a',
 'b',
 ['aa', 'bb', ['ddd', 'aaa', 'eee'], 1, 2, 3],
 'f',
 'g',
 [1, 2, [3, 4, 10]]]

In [134]:
lst[2]

['aa', 'bb', ['ddd', 'aaa', 'eee'], 1, 2, 3]

In [135]:
lst

['a',
 'b',
 ['aa', 'bb', ['ddd', 'aaa', 'eee'], 1, 2, 3],
 'f',
 'g',
 [1, 2, [3, 4, 10]]]

In [136]:
lst[2].pop(2)

['ddd', 'aaa', 'eee']