# Tayler Stegman
## Week7 10/03/2023
### Python List Comprehension

**List Comprehension Format:**

<code> new_list = [expression for member in iterable] <code/>
    

**Using conditional Logic:**
    
<code> new_list = [expression for member in iterable (if conditional)] <code/>

<code> new_list = [expression (if conditional) for member in iterable] <code/>

In [1]:
lst = []

for letter in 'helloCIS310':
    lst.append(letter)
    
lst

['h', 'e', 'l', 'l', 'o', 'C', 'I', 'S', '3', '1', '0']

In [3]:
# [expression for item in list]
lst = [letter for letter in 'helloCIS310']
lst

['h', 'e', 'l', 'l', 'o', 'C', 'I', 'S', '3', '1', '0']

In [4]:
squares = []
for n in range(0,11):
    squares.append(n*n)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
squares = [n ** 2 for n in range(0,11)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
#[expression for member in iterable (if conditional)]
squares = [n ** 2 for n in range(0,11) if (n % 2 == 0)]
squares

[0, 4, 16, 36, 64, 100]

In [9]:
lst = [n for n in range(0,100) if (n%2 == 0) and (n%5 == 0)]
lst

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [1]:
sentence = 'CIS310 communicate students with analytical thinking'
vowels_letters ='aeiou'
lst = [letter for letter in sentence if letter in vowels_letters]
lst

['o', 'u', 'i', 'a', 'e', 'u', 'e', 'i', 'a', 'a', 'i', 'a', 'i', 'i']

In [6]:
sentence = 'Hello I Am Awesome and Stuff YeA'
vowels_letters ='aeiou'
# vowels_letters = vowels_letters.upper()
lst = [letter for letter in sentence if letter in vowels_letters.upper()]
lst

['I', 'A', 'A', 'A']

In [10]:
sentence = 'Studies found that The financial impact of poor-quality data costs $3'
lst = [letter for letter in sentence if letter.isalpha() and letter.isupper()]
lst

['S', 'T']

In [14]:
prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]

lst = [value if value >= 0 else 0 for value in prices]
lst

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [16]:
lst = ['Even' if n%2==0 else "Odd" for n in range (0,11)]
lst

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']

In [19]:
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = 0.08
final_price=[n * (1 + TAX_RATE) for n in txns]
final_price

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [20]:
# Nested list comprehensions

lst = [n**2 for n in [num for num in range(21) if num%2==0]]
lst

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [21]:
#using set and dictionary comprehensions
s = 'data preperation consumes an amount of time (up to 80%) spent on analytics'
unique_vowels = {l for l in s if l in 'aeiou'}
unique_vowels

{'a', 'e', 'i', 'o', 'u'}

In [22]:
dc = {n:n**2 for n in range(11)}
dc

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [29]:
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
weather = {city:[n for n in range(50,61)] for city in cities}
weather

{'Austin': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Tacoma': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Topeka': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Sacramento': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Charlotte': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]}

In [30]:
#Another way to do the same thing ^
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
weather = {city:list(range(50,61)) for city in cities}
weather

{'Austin': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Tacoma': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Topeka': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Sacramento': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
 'Charlotte': [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]}

In [32]:
from random import randint

cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
weather = {city:randint(50,61) for city in cities}
weather

{'Austin': 54, 'Tacoma': 58, 'Topeka': 59, 'Sacramento': 55, 'Charlotte': 54}

In [44]:
l = [1,2,1,2,3,4,5,6,2]
d = {1: 'yes', 2: 'no'}
lst = [d.get(1) if n == 1 else d.get(2) if n == 2 else 'idle' for n in l]
lst

['yes', 'no', 'yes', 'no', 'idle', 'idle', 'idle', 'idle', 'no']

In [34]:
d.get(1)

'yes'

In [35]:
d.get(2)

'no'

In [37]:
d.get(5,'Idle')

'Idle'

In [45]:
# same solution as above^
l = [1,2,1,2,3,4,5,6,2]
d = {1: 'yes', 2: 'no'}
lst = [d.get(n,'idle') for n in l ]
lst

['yes', 'no', 'yes', 'no', 'idle', 'idle', 'idle', 'idle', 'no']

In [48]:
l = [1, 2, 3, 4, 5, 2, 3, 4, 1, 2, 1]
lst =['yes' if n ==1 else 'no' if n==2 else 'idle' for n in l]
lst

['yes', 'no', 'idle', 'idle', 'idle', 'no', 'idle', 'idle', 'yes', 'no', 'yes']