# Tayler Stegman
## Week 7 10/08/2023
### Python Functions

**Python Function Format**
<code> def function_name(args):
    '''
    docstring(Document String) - This is where you describe a function
    '''
    #statements(s) <code/>

In [1]:
def welcome():
    print('Welcome to CIS310!')

In [3]:
welcome()

Welcome to CIS310!

In [4]:
# functio with a parameter
def fun_greet(name):
    '''
    This function greets a person name passed as parameter THIS IS DOCSTRING
    '''
    print(f'Hello, {name} Welcome to CIS310!')

In [5]:
fun_greet(8)

Hello, 8 Welcome to CIS310!

In [6]:
fun_greet([0,3,'ally'])

Hello, [0, 3, 'ally'] Welcome to CIS310!

In [7]:
fun_greet('Alice')

Hello, Alice Welcome to CIS310!

In [8]:
fun_greet('Bob')

Hello, Bob Welcome to CIS310!

In [14]:
greeting = fun_greet("tayler")

Hello, tayler Welcome to CIS310!

In [16]:
print(fun_greet.__doc__)

    This function greets a person name passed as parameter THIS IS DOCSTRING

In [2]:
#Using return and args
def sum_nums(n1,n2):
    s = n1 + n2
    return s

In [3]:
sum_nums(2,4)

6

In [4]:
def avg_nums(n1,n2, n3):
    s = (n1 + n2 + n3) / 3
    return s

In [7]:
round(avg_nums(3,5,8),2)

5.33

In [10]:
#min_two_odds(3,5) --> 3
#min_two_odds(4,9) --> 9

def min_two_odds(num1,num2):
    if num1 % 2 != 0 and num2 % 2 != 0:
        return min(num1,num2)
    else:
        return max(num1,num2)

In [11]:
min_two_odds(32,654)

654

In [12]:
min_two_odds(9,7)

7

In [13]:
min_two_odds(8,3)

8

In [14]:
#find a number is prime

def is_prime(n):
    for v in range(2,n):
        if n % v == 0:
            return str(n) + ' is not prime'
    else:
        return str(n) + ' is prime'

In [15]:
is_prime(7)

'7 is prime'

In [16]:
is_prime(32423)

'32423 is prime'

In [17]:
is_prime(24)

'24 is not prime'

In [21]:
#check if two-word string starts with the same letter
def same_letter(txt):
    tokens = txt.split(' ')
    if(tokens[0][0] == tokens[1][0]):
        return str(txt) + ' True Starts with same letter'

txt = 'Python Program'

In [22]:
same_letter(txt)

'Python Program True Starts with same letter'

In [23]:
same_letter('monkey man')

'monkey man True Starts with same letter'

In [25]:
def same_letter(txt):
    tokens = txt.split(' ')
    return tokens[0][0] == tokens[1][0]

In [26]:
same_letter('magic monday')

True

In [27]:
same_letter("Java Program")

False

In [28]:
#Reverse a statement
str1 = 'I am home'
lst = str1.split()
lst

['I', 'am', 'home']

In [29]:
lst[::-1]

['home', 'am', 'I']

In [30]:
' '.join(lst[::-1])

'home am I'

In [32]:
def rv_str(txt):
    lst = txt.split()
    return ' '.join(lst[::-1])

In [33]:
rv_str(str1)

'home am I'

In [34]:
def rv_str(txt):
    return ' '.join(txt.split()[::-1])

In [36]:
rv_str(str1)

'home am I'

In [52]:
#check if a list has number 5 next to number 5 somewhere in the list
#[3,4,5,5,10] -> True
#[3,4,5,6,5,8] -> false

def repeating(lst):
    for i in range(0,len(lst)-1):
        if lst[i] == lst[i + 1]:
            return True
    else:
        return False

In [53]:
lst = [3,4,5,5,10]
repeating(lst)

True

In [54]:
def repeating(lst):
    for i in range(0,len(lst)-1):
        if lst[i:i+2] == [5,5]:
            return True
    else:
        return False

In [57]:
#number of arguments
def sum_nums(a,b):
    return sum((a,b))

In [58]:
sum_nums(5,6)

11

In [59]:
sum_nums(5)

TypeError: sum_nums() missing 1 required positional argument: 'b'

In [60]:
def sum_nums(*n):
    return sum(n)

In [61]:
sum_nums(5,6,4,3,65,56,76,6)

221

In [62]:
sum_nums(4)

4

In [65]:
#Default parameter value
def my_country(name='USA'):
    print('I am from ' + name)

In [66]:
my_country('Italy')
my_country('India')
my_country()
my_country('Brazil')

I am from Italy
I am from India
I am from USA
I am from Brazil

In [67]:
#Keyword arguments
def my_kids(child1,child2,child3):
    print(f"my first child {child1}, my second child {child2}, my third child {child3}")

In [68]:
my_kids('Emil','Jon','Alice')

my first child Emil, my second child Jon, my third child Alice

In [69]:
my_kids(child2='jon', child1 = 'Emil', child3 = 'Alice')

my first child Emil, my second child jon, my third child Alice

In [7]:
# Arbitrary Keyword Arguments, **kwargs
#If the number of keywork arguments is unknown, add a double ** before the parameter
def my_name(**names):
    print(f"Last name is {names['lname']}")
    print(f"First name is {names['fname']}")
    print(f"Full name is {names['lname']}, {names['fname']}")
    
my_name(fname ='Tayler', lname = 'Stegman')

Last name is Stegman
First name is Tayler
Full name is Stegman, Tayler

In [9]:
my_name(fname = "James")

KeyError: 'lname'

In [10]:
my_name(lname = "Smith")

Last name is Smith

KeyError: 'fname'

In [11]:
my_name()

KeyError: 'lname'

In [17]:
#how to deal with different or no args
def my_name(**names):
    if 'lname' in names and not 'fname' in names:
        print(f"Last name is {names['lname']}")
    elif 'fname' in names and not 'lname' in names:
        print(f"First name is {names['fname']}")
    elif 'fname' in names and  'lname' in names:
        print(f"Full name is {names['lname']}, {names['fname']}")
    else:
        print('No name is provided')

In [18]:
my_name(fname = 'tayler')

First name is tayler

In [19]:
my_name(fname = 'tayler', lname = 'stegman')

Full name is stegman, tayler

In [20]:
my_name(fname='james',lname='smith')

Full name is smith, james

In [21]:
my_name()

No name is provided

In [22]:
my_name(lname = 'stegman')

Last name is stegman

In [25]:
#Arbitrary Arguments and Keyword arguments, *args and *kwargs
def my_dinner(*food, **fruits):
    if 'fruit' and 'juice' in fruits:
        print(f"I would like {' and '.join(food)} and my favorite fruit is {fruits['fruit']}")
        print(f" I also like to have some {fruits['juice']} after dinner")
    else:
        # pass means do nothing
        pass

In [26]:
my_dinner('eggs','milk', fruit ='Cherry', juice='Orange')

I would like eggs and milk and my favorite fruit is Cherry
 I also like to have some Orange after dinner

In [32]:
#using function in list comprehensions
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = 0.08

def get_price_with_tax(txn):
    return txn * (1 + TAX_RATE)

final_prices = [round(get_price_with_tax(txn), 2) for txn in txns]
print(final_prices)

[1.18, 25.44, 62.47, 4.92, 7.32]