# Tayler Stegman
## Week 11 11/02/2023
### Python NumPy Universal Functions

In [3]:
import numpy as np
arr = np.arange(21)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [4]:
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ,
       3.16227766, 3.31662479, 3.46410162, 3.60555128, 3.74165739,
       3.87298335, 4.        , 4.12310563, 4.24264069, 4.35889894,
       4.47213595])

In [5]:
np.exp(arr)

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03, 2.20264658e+04, 5.98741417e+04,
       1.62754791e+05, 4.42413392e+05, 1.20260428e+06, 3.26901737e+06,
       8.88611052e+06, 2.41549528e+07, 6.56599691e+07, 1.78482301e+08,
       4.85165195e+08])

In [7]:
arr = np.random.randn(10)
arr # Return a sample (or samples) from the "standard normal" distribution.

array([ 0.79276453, -1.45490448, -2.12072017,  0.28351365, -0.48872909,
       -0.55324103,  0.43139908,  0.43081851,  1.14141323,  0.7960526 ])

In [8]:
arr.mean()

-0.07416331735213946

In [10]:
arr1 = np.random.randn(10)
arr2 = np.random.randn(10)

In [11]:
arr1

array([ 2.28313929,  0.30885648, -0.57581589, -1.06619863, -0.04556995,
       -0.96677964, -0.79657619,  0.56324208,  1.19285638, -1.12342065])

In [13]:
arr2

array([-1.00581597,  1.05729569,  0.05375702, -0.61126612, -0.44615297,
       -1.38667201,  0.10760712, -1.43905222,  0.97629052, -1.16820238])

In [14]:
np.add(arr1, arr2) #Add arguments element-wise.

array([ 1.27732332,  1.36615216, -0.52205887, -1.67746474, -0.49172292,
       -2.35345165, -0.68896907, -0.87581013,  2.1691469 , -2.29162303])

In [15]:
# maximum
np.maximum(arr1,arr2)

array([ 2.28313929,  1.05729569,  0.05375702, -0.61126612, -0.04556995,
       -0.96677964,  0.10760712,  0.56324208,  1.19285638, -1.12342065])

In [17]:
arr1 = np.arange(9).reshape(3,3)
arr2 = np.ones(9).reshape(3,3)

In [18]:
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [19]:
arr2

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [20]:
np.add(arr1,arr2)

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]])

In [22]:
# Array filtering
arr = np.arange(9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [23]:
print(arr<4)

[[ True  True  True]
 [ True False False]
 [False False False]]

In [24]:
#using where
#replace values of an array, using where
np.where(arr < 4, 0, -1)

array([[ 0,  0,  0],
       [ 0, -1, -1],
       [-1, -1, -1]])

In [26]:
np.where((arr<4) & (arr > 2), 0, -1)

array([[-1, -1, -1],
       [ 0, -1, -1],
       [-1, -1, -1]])

In [37]:
arr1 = np.array([1,2,3,4,5])
arr2 = arr1*10
arr_bool = [True,False,True,False,True]

arr1

array([1, 2, 3, 4, 5])

In [38]:
arr2

array([10, 20, 30, 40, 50])

In [39]:
arr_bool

[True, False, True, False, True]

In [40]:
list(zip(arr1,arr2,arr_bool))

[(1, 10, True), (2, 20, False), (3, 30, True), (4, 40, False), (5, 50, True)]

In [41]:
# using list comprehension
arr = np.array([r1 if c else r2 for r1,r2,c in zip(arr1,arr2,arr_bool)])

In [42]:
arr

array([ 1, 20,  3, 40,  5])

In [44]:
# using where
arr = np.where(arr_bool,arr1,arr2)
arr

array([ 1, 20,  3, 40,  5])

In [1]:
import numpy as np
arr1 = np.arange(1,5).reshape(2,2)
arr2 = np.arange(5,9).reshape(2,2)

In [2]:
arr1

array([[1, 2],
       [3, 4]])

In [3]:
arr2

array([[5, 6],
       [7, 8]])

In [7]:
sample_arr = [True, False]
arr_bool = np.random.choice(sample_arr, 10)
arr_bool

array([ True,  True, False, False, False,  True,  True, False,  True,
       False])

In [8]:
arr_bool = np.array([np.random.choice(sample_arr, size=2),np.random.choice(sample_arr, size=2)])

In [9]:
arr_bool

array([[False, False],
       [False,  True]])

In [14]:
arr_bool = np.random.choice(sample_arr, size=4).reshape(2,2)
arr_bool

array([[ True, False],
       [False,  True]])

In [15]:
np.where(arr_bool, arr1, arr2)

array([[1, 6],
       [7, 4]])

In [19]:
arr = np.random.randn(3,3)
arr

array([[-0.45728457,  0.91830702,  0.15383727],
       [-0.80594531, -0.46038861, -0.52287152],
       [-0.20821579, -2.44908282,  0.01371189]])

In [21]:
#only keeps values that are greater than 0, otherwise returns 0
np.where(arr<0,0,arr)

array([[0.        , 0.91830702, 0.15383727],
       [0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.01371189]])

In [22]:
#any
arr_bool = np.random.choice(sample_arr, size=10)
arr_bool

array([ True,  True, False, False, False,  True, False,  True,  True,
        True])

In [23]:
arr_bool.any() # Returns True if any elements evaluate to True

True

In [24]:
arr_bool.all()  # Returns True if all elements evaluate to True

False

In [25]:
#unique() finds the unique elements of an array
fruits = np.array(['Apple', 'Cherry', 'Apple', 'Orange', 'Cherry', 'Banana'])
np.unique(fruits)

array(['Apple', 'Banana', 'Cherry', 'Orange'], dtype='<U6')

In [26]:
unique_fruits = np.unique(fruits)

In [27]:
unique_fruits

array(['Apple', 'Banana', 'Cherry', 'Orange'], dtype='<U6')

In [32]:
fruits[0] = 'Apple'

In [33]:
fruits

array(['Apple', 'Cherry', 'Apple', 'Orange', 'Cherry', 'Banana'],
      dtype='<U6')

In [34]:
unique_fruits

array(['Apple', 'Banana', 'Cherry', 'Orange'], dtype='<U6')

In [35]:
#Test whether each element of a 1-D array is also present in a second array
np.in1d(['Apple', 'Cherry', 'Grape'],fruits)

array([ True,  True, False])

In [36]:
'Apple' in fruits

True

In [38]:
#Descriptive statistical measures
arr_2d = np.arange(1,10).reshape(3,3)
arr_2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [41]:
arr_2d.shape

(3, 3)

In [42]:
arr_2d.ndim

2

arr_2d.sum()

In [43]:
arr_2d.sum()

45

In [44]:
#axis 0
arr_2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [46]:
#using 0 sums the columns
arr_2d.sum(0)

array([12, 15, 18])

In [48]:
#using 1 sums the rows
arr_2d.sum(1)

array([ 6, 15, 24])

In [49]:
np.sum(arr_2d,axis=0)

array([12, 15, 18])

In [50]:
np.sum(arr_2d,axis=1)

array([ 6, 15, 24])

In [51]:
arr_2d.nbytes

36

In [52]:
arr_2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [54]:
arr_2d.mean()

5.0

In [56]:
#finds the mean of the columns
arr_2d.mean(0)

array([4., 5., 6.])

In [58]:
#finds the mean of the rows
arr_2d.mean(1)

array([2., 5., 8.])

In [59]:
np.mean(arr_2d,axis=0)

array([4., 5., 6.])

In [60]:
np.mean(arr_2d,axis=1)

array([2., 5., 8.])

In [63]:
#.var finds the variance
arr_2d.var()

6.666666666666667

In [64]:
arr_2d.var(0)

array([6., 6., 6.])

In [65]:
arr_2d.var(1)

array([0.66666667, 0.66666667, 0.66666667])

In [66]:
np.var(arr_2d,axis=1)

array([0.66666667, 0.66666667, 0.66666667])

In [72]:
#randn generates random normally distributed value
arr = np.random.randn(3,3)
arr

array([[-1.50560143, -0.45631414, -0.77199727],
       [ 1.13228936, -2.33649159,  1.21589181],
       [ 0.72672908, -1.35743547, -0.66496107]])

In [73]:
from numpy.random import randn
arr = randn(3,3)
arr

array([[ 1.20699867, -0.17873287,  0.15381513],
       [ 0.32716762, -3.27919203,  0.13979735],
       [ 0.81865131, -2.03407848,  0.57604043]])

In [83]:
# using * 10 makes it so every value is above 0
arr = np.random.random((4,4)) * 10
arr

array([[9.49848497, 4.22091043, 2.91517952, 0.17088013],
       [0.55960506, 5.1236339 , 6.0267065 , 7.88628884],
       [2.15406873, 0.18344851, 2.31656022, 7.21535348],
       [4.53193323, 4.73579102, 6.3689018 , 4.55971779]])

In [84]:
from numpy.random import random
arr = random((4,4))
arr

array([[0.8406057 , 0.21425499, 0.68395317, 0.79527172],
       [0.08311365, 0.37536996, 0.92007419, 0.87014961],
       [0.83402967, 0.59723345, 0.34093474, 0.37137635],
       [0.93731042, 0.31539024, 0.8615442 , 0.48780369]])

In [87]:
#generate random integer between 10 and 50
num = np.random.randint(10,50)
num

29

In [97]:
arr1 = np.arange(1,4)
arr2 = np.arange(4,7)

In [98]:
arr1

array([1, 2, 3])

In [99]:
arr2

array([4, 5, 6])

In [100]:
arr = np.concatenate((arr1,arr2))
arr

array([1, 2, 3, 4, 5, 6])

In [103]:
arr1 = np.arange(1,5).reshape(2,2)
arr2 = np.arange(5,9).reshape(2,2)
arr1

array([[1, 2],
       [3, 4]])

In [104]:
arr2

array([[5, 6],
       [7, 8]])

In [116]:
#concatenating 2d arrays combines the 1d arrays inside (default is axis 0)
arr = np.concatenate((arr1,arr2))

In [117]:
arr

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [118]:
arr.shape

(4, 2)

In [119]:
#concatenating with axis
arr = np.concatenate((arr1,arr2), axis=0)
arr

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [120]:
arr = np.concatenate((arr1,arr2), axis=1)
arr

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [121]:
#splitting arrays
arr = np.arange(1,7)
arr

array([1, 2, 3, 4, 5, 6])

In [122]:
narr = np.split(arr,2)
narr

[array([1, 2, 3]), array([4, 5, 6])]

In [123]:
narr[0]

array([1, 2, 3])

In [124]:
narr[1]

array([4, 5, 6])

In [125]:
narr[0][0]

1

In [130]:
#can only split by a divisable amount, 4 does not work for an array length of 6
narr = np.split(arr,3)
narr

[array([1, 2]), array([3, 4]), array([5, 6])]

In [131]:
narr = np.split(arr,4)
narr

ValueError: array split does not result in an equal division

In [132]:
#advanced split function allows for non divisable, aka doesn't have to be the same number of elements in the split
narr = np.array_split(arr,4)
narr

[array([1, 2]), array([3, 4]), array([5]), array([6])]

In [133]:
narr[0]

array([1, 2])

In [134]:
narr[-1]

array([6])