# Tayler Stegman
## Week 11 10/31/2023 - 11/02/2023
### Python numpy creating, processing, transporting arrays

In [1]:
import numpy as np
arr_2d = np.array([  [1,2,3,4], [5,6,7,8]])
print(arr_2d)
print(arr_2d.ndim)
print(arr_2d.shape)
print(arr_2d.dtype)

[[1 2 3 4]
 [5 6 7 8]]
2
(2, 4)
int32

In [2]:
# zeros() Returns a new array of given shape and type, filled with zeros
arr = np.zeros(10)
arr

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [3]:
arr.dtype

dtype('float64')

In [5]:
arr_2d = np.zeros((5,5))
arr_2d

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [6]:
arr_2d.ndim

2

In [7]:
arr.dtype

dtype('float64')

In [9]:
#ones() Returns a new array of given shape and type filled with ones
arr_2d = np.ones((5,5))
print(arr_2d)
print(arr_2d.ndim)
print(arr_2d.shape)
print(arr_2d.dtype)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
2
(5, 5)
float64

In [18]:
#ones() Returns a new array of given shape and type filled with ones
arr_2d = np.empty((2,2,4))
print(arr_2d)
print(arr_2d.ndim)
print(arr_2d.shape)
print(arr_2d.dtype)

[[[4.67296746e-307 1.69121096e-306 8.90104239e-307 1.33511969e-306]
  [8.34441742e-308 1.78022342e-306 6.23058028e-307 9.79107872e-307]]

 [[6.89807188e-307 7.56594375e-307 6.23060065e-307 1.78021527e-306]
  [8.34454050e-308 1.11261027e-306 1.15706896e-306 1.33512173e-306]]]
3
(2, 2, 4)
float64

In [25]:
arr_2d = np.empty(((4,4)), dtype = int)
print(arr_2d)
print(arr_2d.ndim)
print(arr_2d.shape)
print(arr_2d.dtype)

[[   0    0    0    0]
 [   0    0    0    0]
 [   0    0 1140    0]
 [   0    0    0    0]]
2
(4, 4)
int32

In [27]:
# arrange: Return evenly spaced values within a given interval
arr = np.arange(10,100,5)
arr

array([10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90,
       95])

In [28]:
# Reshape an array
arr_1d = np.arange(1,13,1)
arr_1d

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [35]:
#Reshape has to equal original array length
arr_2d = arr_1d.reshape(3,4)
arr_2d

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [36]:
arr_2d = arr_1d.reshape(4,3)
arr_2d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [37]:
arr_2d = arr_1d.reshape(2,6)
arr_2d

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

In [38]:
len(arr_1d)

12

In [39]:
len(arr_2d)

2

In [40]:
arr_2d.shape

(2, 6)

In [42]:
arr_3d = np.arange(1,13).reshape(2,3,2)
arr_3d

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]]])

In [43]:
arr_3d = np.arange(1,13).reshape(2,2,3)
arr_3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [44]:
arr_3d = np.arange(1,13).reshape(3,2,2)
arr_3d

array([[[ 1,  2],
        [ 3,  4]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12]]])

In [45]:
arr_2d.base

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [46]:
#reshape points to the original array, changing a value also changes the reshaped array
arr_1d[0] = 100

In [47]:
arr_1d

array([100,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12])

In [48]:
arr_2d

array([[100,   2,   3,   4,   5,   6],
       [  7,   8,   9,  10,  11,  12]])

In [50]:
# Pass -1 as the value, and NumPy will calculate this number for you
arr_3d = np.arange(1,9).reshape(2,2,-1)
arr_3d

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [52]:
#In this one we passed in -1 and NumPy thought 2 was the best value
arr_3d.shape

(2, 2, 2)

In [53]:
arr = np.arange(1,9).reshape(2,4)
arr

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [54]:
arr.reshape(-1)

array([1, 2, 3, 4, 5, 6, 7, 8])

In [55]:
# Iterating Arrays
arr_1d

array([100,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12])

In [56]:
for n in arr_1d:
    print(n)

100
2
3
4
5
6
7
8
9
10
11
12

In [57]:
arr_2d

array([[100,   2,   3,   4,   5,   6],
       [  7,   8,   9,  10,  11,  12]])

In [59]:
for n in arr_2d:
    print(n)

[100   2   3   4   5   6]
[ 7  8  9 10 11 12]

In [60]:
for n in arr_2d:
    for num in n:
        print(num)

100
2
3
4
5
6
7
8
9
10
11
12

In [61]:
arr_3d

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [62]:
for n1 in arr_3d:
    for n2 in n1:
        for n3 in n2:
            print(n3)

1
2
3
4
5
6
7
8

In [63]:
#nditer iterates on each scalar element in the np array
for num in np.nditer(arr_2d):
    print(num)

100
2
3
4
5
6
7
8
9
10
11
12

In [64]:
#nditer iterates on each scalar element in the np array
for num in np.nditer(arr_3d):
    print(num)

1
2
3
4
5
6
7
8

In [67]:
arr_2d = np.arange(1,13).reshape(4,3)
arr_2d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [76]:
#SLice to get column 0 and 1
arr_2d[:,::2]

array([[ 1,  3],
       [ 4,  6],
       [ 7,  9],
       [10, 12]])

In [77]:
for num in np.nditer(arr_2d[:,::2]):
    print(num)

1
3
4
6
7
9
10
12

In [78]:
arr_1d = np.arange(1,13)
arr_1d

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [81]:
for idx, num in np.ndenumerate(arr_1d):
    print(idx, num)

(0,) 1
(1,) 2
(2,) 3
(3,) 4
(4,) 5
(5,) 6
(6,) 7
(7,) 8
(8,) 9
(9,) 10
(10,) 11
(11,) 12

In [87]:
for idx, num in np.ndenumerate(arr_2d):
    print(idx, num)

(0, 0) 1
(0, 1) 2
(0, 2) 3
(1, 0) 4
(1, 1) 5
(1, 2) 6
(2, 0) 7
(2, 1) 8
(2, 2) 9
(3, 0) 10
(3, 1) 11
(3, 2) 12

In [88]:
for idx, num in enumerate(arr_2d):
    print(idx, num)

0 [1 2 3]
1 [4 5 6]
2 [7 8 9]
3 [10 11 12]

In [89]:
arr_2d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [90]:
arr_3d

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [91]:
for idx, num in np.ndenumerate(arr_3d):
    print(idx, num)

(0, 0, 0) 1
(0, 0, 1) 2
(0, 1, 0) 3
(0, 1, 1) 4
(1, 0, 0) 5
(1, 0, 1) 6
(1, 1, 0) 7
(1, 1, 1) 8

In [92]:
arr_3d.shape

(2, 2, 2)

In [93]:
# operations *, +, -, *, etc
arr_1d

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [94]:
arr_1d*10

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120])

In [95]:
arr_1d

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [96]:
arr_2d * arr_2d

array([[  1,   4,   9],
       [ 16,  25,  36],
       [ 49,  64,  81],
       [100, 121, 144]])

In [97]:
arr_2d - arr_2d

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [98]:
arr_2d +arr_2d

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18],
       [20, 22, 24]])

In [99]:
arr_2d * 2

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18],
       [20, 22, 24]])

In [100]:
arr_2d**2

array([[  1,   4,   9],
       [ 16,  25,  36],
       [ 49,  64,  81],
       [100, 121, 144]], dtype=int32)

In [104]:
arr_2d**3

array([[          1,         512,       19683],
       [     262144,     1953125,    10077696],
       [   40353607,   134217728,   387420489],
       [ 1000000000, -1937019605,   864813056]], dtype=int32)

In [105]:
1/ arr_2d

array([[1.00000000e+00, 1.25000000e-01, 3.70370370e-02],
       [1.56250000e-02, 8.00000000e-03, 4.62962963e-03],
       [2.91545190e-03, 1.95312500e-03, 1.37174211e-03],
       [1.00000000e-03, 7.51314801e-04, 5.78703704e-04]])

In [112]:
arr_2d = np.zeros((9,9))
arr_2d

array([[0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [113]:
arr.shape

(9, 9)

In [114]:
arr_2d.shape[1]

9

In [115]:
arr_2d[0] = 10

In [116]:
arr_2d

array([[10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]])

In [118]:
for idx in range(arr_2d.shape[0]):
    arr_2d[idx] = 10 #change each row to 10
arr_2d

array([[10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.]])

In [119]:
for idx in range (arr_2d.shape[0]):
    arr_2d[idx] = idx * 2 #multiply index by 2, idx = 0,1,2,3,4,5,6,7,8
arr_2d

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.],
       [ 4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.],
       [ 6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.],
       [ 8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [12., 12., 12., 12., 12., 12., 12., 12., 12.],
       [14., 14., 14., 14., 14., 14., 14., 14., 14.],
       [16., 16., 16., 16., 16., 16., 16., 16., 16.]])

In [120]:
arr_2d[1:7]

array([[ 2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.],
       [ 4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.],
       [ 6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.],
       [ 8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [12., 12., 12., 12., 12., 12., 12., 12., 12.]])

In [121]:
arr_2d[::2, :4]

array([[ 0.,  0.,  0.,  0.],
       [ 4.,  4.,  4.,  4.],
       [ 8.,  8.,  8.,  8.],
       [12., 12., 12., 12.],
       [16., 16., 16., 16.]])

In [122]:
arr_2d

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.],
       [ 4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.],
       [ 6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.],
       [ 8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [12., 12., 12., 12., 12., 12., 12., 12., 12.],
       [14., 14., 14., 14., 14., 14., 14., 14., 14.],
       [16., 16., 16., 16., 16., 16., 16., 16., 16.]])

In [123]:
#Returns rows 3 and 6 
arr_2d[[3,6]]

array([[ 6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.],
       [12., 12., 12., 12., 12., 12., 12., 12., 12.]])

In [124]:
arr_2d[[1,3,6]]

array([[ 2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.],
       [ 6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.],
       [12., 12., 12., 12., 12., 12., 12., 12., 12.]])

In [125]:
#Return specific columns
arr_2d

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.],
       [ 4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.,  4.],
       [ 6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.,  6.],
       [ 8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.,  8.],
       [10., 10., 10., 10., 10., 10., 10., 10., 10.],
       [12., 12., 12., 12., 12., 12., 12., 12., 12.],
       [14., 14., 14., 14., 14., 14., 14., 14., 14.],
       [16., 16., 16., 16., 16., 16., 16., 16., 16.]])

In [127]:
#Returns columns 0 and 5
arr_2d[:,[0,5]]

array([[ 0.,  0.],
       [ 2.,  2.],
       [ 4.,  4.],
       [ 6.,  6.],
       [ 8.,  8.],
       [10., 10.],
       [12., 12.],
       [14., 14.],
       [16., 16.]])

In [129]:
#Returns columns 2 and 3
arr_2d[:,[2,3]]

array([[ 0.,  0.],
       [ 2.,  2.],
       [ 4.,  4.],
       [ 6.,  6.],
       [ 8.,  8.],
       [10., 10.],
       [12., 12.],
       [14., 14.],
       [16., 16.]])

In [140]:
arr = np.array(['Sarah', (8.0,7.0), ('John', (6.0,7.0))])
arr

array(['Sarah', (8.0, 7.0), ('John', (6.0, 7.0))], dtype=object)

In [141]:
arr[0,0]

IndexError: too many indices for array

In [142]:
arr[0]

'Sarah'

In [143]:
arr[1,1]

IndexError: too many indices for array

In [144]:
arr[1]

(8.0, 7.0)

In [6]:
#.T same as self.transpose(),
arr =  np.arange(45).reshape(9,5)
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44]])

In [7]:
arr.shape

(9, 5)

In [9]:
arr.ndim

2

In [10]:
arr.T

array([[ 0,  5, 10, 15, 20, 25, 30, 35, 40],
       [ 1,  6, 11, 16, 21, 26, 31, 36, 41],
       [ 2,  7, 12, 17, 22, 27, 32, 37, 42],
       [ 3,  8, 13, 18, 23, 28, 33, 38, 43],
       [ 4,  9, 14, 19, 24, 29, 34, 39, 44]])

In [11]:
arr.T.shape

(5, 9)

In [12]:
arr_t = arr.T

In [13]:
arr_t

array([[ 0,  5, 10, 15, 20, 25, 30, 35, 40],
       [ 1,  6, 11, 16, 21, 26, 31, 36, 41],
       [ 2,  7, 12, 17, 22, 27, 32, 37, 42],
       [ 3,  8, 13, 18, 23, 28, 33, 38, 43],
       [ 4,  9, 14, 19, 24, 29, 34, 39, 44]])

In [14]:
arr[0] = 100
arr

array([[100, 100, 100, 100, 100],
       [  5,   6,   7,   8,   9],
       [ 10,  11,  12,  13,  14],
       [ 15,  16,  17,  18,  19],
       [ 20,  21,  22,  23,  24],
       [ 25,  26,  27,  28,  29],
       [ 30,  31,  32,  33,  34],
       [ 35,  36,  37,  38,  39],
       [ 40,  41,  42,  43,  44]])

In [15]:
#transpose is a view of the same array with a different shape
arr_t

array([[100,   5,  10,  15,  20,  25,  30,  35,  40],
       [100,   6,  11,  16,  21,  26,  31,  36,  41],
       [100,   7,  12,  17,  22,  27,  32,  37,  42],
       [100,   8,  13,  18,  23,  28,  33,  38,  43],
       [100,   9,  14,  19,  24,  29,  34,  39,  44]])

In [16]:
np.transpose(arr)

array([[100,   5,  10,  15,  20,  25,  30,  35,  40],
       [100,   6,  11,  16,  21,  26,  31,  36,  41],
       [100,   7,  12,  17,  22,  27,  32,  37,  42],
       [100,   8,  13,  18,  23,  28,  33,  38,  43],
       [100,   9,  14,  19,  24,  29,  34,  39,  44]])

In [17]:
np.transpose(arr).shape

(5, 9)

In [18]:
arr.transpose()

array([[100,   5,  10,  15,  20,  25,  30,  35,  40],
       [100,   6,  11,  16,  21,  26,  31,  36,  41],
       [100,   7,  12,  17,  22,  27,  32,  37,  42],
       [100,   8,  13,  18,  23,  28,  33,  38,  43],
       [100,   9,  14,  19,  24,  29,  34,  39,  44]])

In [20]:
arr = np.arange(8).reshape(2,4)
arr

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [21]:
arr.shape

(2, 4)

In [22]:
arr.T

array([[0, 4],
       [1, 5],
       [2, 6],
       [3, 7]])

In [23]:
arr.transpose()

array([[0, 4],
       [1, 5],
       [2, 6],
       [3, 7]])

In [24]:
arr.shape

(2, 4)

In [25]:
arr.shape[0]

2

In [26]:
arr.shape[1]

4

In [27]:
arr.transpose((0,1))

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [28]:
arr.transpose((1,0)) #swap axis 0 with axis 1

array([[0, 4],
       [1, 5],
       [2, 6],
       [3, 7]])

In [30]:
arr_3d = np.arange(20).reshape(2,5,2)
arr_3d

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7],
        [ 8,  9]],

       [[10, 11],
        [12, 13],
        [14, 15],
        [16, 17],
        [18, 19]]])

In [31]:
arr_3d.transpose()

array([[[ 0, 10],
        [ 2, 12],
        [ 4, 14],
        [ 6, 16],
        [ 8, 18]],

       [[ 1, 11],
        [ 3, 13],
        [ 5, 15],
        [ 7, 17],
        [ 9, 19]]])

In [32]:
arr_3d.T

array([[[ 0, 10],
        [ 2, 12],
        [ 4, 14],
        [ 6, 16],
        [ 8, 18]],

       [[ 1, 11],
        [ 3, 13],
        [ 5, 15],
        [ 7, 17],
        [ 9, 19]]])

In [33]:
arr_3d.T.shape

(2, 5, 2)

In [34]:
arr_3d.transpose().shape

(2, 5, 2)

In [35]:
arr_3d.transpose((0,1,2)) # no change in the axis, same order

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7],
        [ 8,  9]],

       [[10, 11],
        [12, 13],
        [14, 15],
        [16, 17],
        [18, 19]]])

In [37]:
arr_3d.transpose((1,0,2))

array([[[ 0,  1],
        [10, 11]],

       [[ 2,  3],
        [12, 13]],

       [[ 4,  5],
        [14, 15]],

       [[ 6,  7],
        [16, 17]],

       [[ 8,  9],
        [18, 19]]])

In [38]:
arr_3d.transpose((1,0,2)).shape

(5, 2, 2)

In [39]:
arr_3d.transpose((1,2,0)).shape

(5, 2, 2)

In [40]:
arr_3d.transpose((0,2,1))

array([[[ 0,  2,  4,  6,  8],
        [ 1,  3,  5,  7,  9]],

       [[10, 12, 14, 16, 18],
        [11, 13, 15, 17, 19]]])

In [41]:
#swap axes
arr = np.array

In [42]:
arr_3d = np.arange(45).reshape(3,5,3)
arr_3d

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8],
        [ 9, 10, 11],
        [12, 13, 14]],

       [[15, 16, 17],
        [18, 19, 20],
        [21, 22, 23],
        [24, 25, 26],
        [27, 28, 29]],

       [[30, 31, 32],
        [33, 34, 35],
        [36, 37, 38],
        [39, 40, 41],
        [42, 43, 44]]])

In [43]:
arr_3d.ndim

3

In [44]:
arr_3d.shape

(3, 5, 3)

In [45]:
arr_3d.swapaxes(1,2)

array([[[ 0,  3,  6,  9, 12],
        [ 1,  4,  7, 10, 13],
        [ 2,  5,  8, 11, 14]],

       [[15, 18, 21, 24, 27],
        [16, 19, 22, 25, 28],
        [17, 20, 23, 26, 29]],

       [[30, 33, 36, 39, 42],
        [31, 34, 37, 40, 43],
        [32, 35, 38, 41, 44]]])

In [46]:
arr_3d.swapaxes(1,2).shape

(3, 3, 5)

In [47]:
arr_3d[0] = 30

In [48]:
arr_3d

array([[[30, 30, 30],
        [30, 30, 30],
        [30, 30, 30],
        [30, 30, 30],
        [30, 30, 30]],

       [[15, 16, 17],
        [18, 19, 20],
        [21, 22, 23],
        [24, 25, 26],
        [27, 28, 29]],

       [[30, 31, 32],
        [33, 34, 35],
        [36, 37, 38],
        [39, 40, 41],
        [42, 43, 44]]])

In [49]:
arr_3d.swapaxes(1,2).shape

(3, 3, 5)

In [50]:
arr_3d.swapaxes(1,2)

array([[[30, 30, 30, 30, 30],
        [30, 30, 30, 30, 30],
        [30, 30, 30, 30, 30]],

       [[15, 18, 21, 24, 27],
        [16, 19, 22, 25, 28],
        [17, 20, 23, 26, 29]],

       [[30, 33, 36, 39, 42],
        [31, 34, 37, 40, 43],
        [32, 35, 38, 41, 44]]])