# Tayler Stegman
## Week 6 9/28/2023
### Python For Loops

**General for loops format:**

for item in object:
    statements to do work

In [3]:
sc = [68,87,90,89,92,78,77,88,75,79,85]

for n in sc:
    print('n =', n)

n = 68
n = 87
n = 90
n = 89
n = 92
n = 78
n = 77
n = 88
n = 75
n = 79
n = 85

In [4]:
# print even and odd numbers in the list
4%2

0

In [5]:
5%2

1

In [6]:
for n in sc:
    if n % 2 == 0:
        print('n = ', n)

n =  68
n =  90
n =  92
n =  78
n =  88

In [7]:
for n in sc:
    if n % 2 != 0:
        print('n = ', n)

n =  87
n =  89
n =  77
n =  75
n =  79
n =  85

In [10]:
for n in sc:
    if n % 2 == 0:
        print('n = ', n)
    else:
        print(n, 'Odd Number')

n =  68
87 Odd Number
n =  90
89 Odd Number
n =  92
n =  78
77 Odd Number
n =  88
75 Odd Number
79 Odd Number
85 Odd Number

In [24]:
# get the sum of scores in the sc list

sc_sum = 0

for n in sc:
    sc_sum += n #sc_sum = sc_sum + n
    print(sc_sum)

68
155
245
334
426
504
581
669
744
823
908

In [19]:
x = 5
final = 0

if x ==5:
    final = x + final

In [20]:
x

5

In [21]:
total

913

In [22]:
final

5

In [25]:
# get the sum of EVEN scores in the sc list

sc_sum = 0

for n in sc:
    if n % 2 == 0:
        sc_sum += n #sc_sum = sc_sum + n
        print(sc_sum)

68
158
250
328
416

In [26]:
#get average

sc_sum = 0

for n in sc:
    sc_sum += n
    
print(f'Average of vales {sc_sum / len(sc)}')

Average of vales 82.54545454545455

In [27]:
sum(sc)

908

In [46]:
for letter in 'I am a student in CIS310!':
    if not letter.isspace():
        print(letter)

I
a
m
a
s
t
u
d
e
n
t
i
n
C
I
S
3
1
0
!

In [47]:
for letter in 'I am a student in CIS310!':
    if letter.isspace() == False:
        print(letter)

I
a
m
a
s
t
u
d
e
n
t
i
n
C
I
S
3
1
0
!

In [50]:
for letter in 'I am a student in CIS310!':
    if not letter.isupper() == False:
        print(letter)

I
C
I
S

In [51]:
lst1 = [10,20,30,50,70,90]
lst2 = [20,40,60,80,100]

lst = list(zip(lst1,lst2))

In [52]:
lst

[(10, 20), (20, 40), (30, 60), (50, 80), (70, 100)]

In [53]:
for t in lst:
    print(t)

(10, 20)
(20, 40)
(30, 60)
(50, 80)
(70, 100)

In [56]:
for (t1,t2) in lst:
    print(t1)
    print(t2)

10
20
20
40
30
60
50
80
70
100

In [57]:
d = {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [58]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [61]:
list(d.items())

[('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)]

In [63]:
list(d.values())

['Ford', 'Mustang', 1964]

In [64]:
tuple(d.keys())

('brand', 'model', 'year')

In [69]:
for item in d:
    print(item)

brand
model
year

In [72]:
for k,v in d.items():
    print(k,v)

brand Ford
model Mustang
year 1964

In [74]:
for k in d.keys():
    print(k)

brand
model
year

In [80]:
for v in d.values():
    print(v)

Ford
Mustang
1964

In [82]:
# Break and continue
fruits = ['Apple','Grape','Orange','Banana','Cherry']
fruits

['Apple', 'Grape', 'Orange', 'Banana', 'Cherry']

In [83]:
for f in fruits:
    print(f)

Apple
Grape
Orange
Banana
Cherry

In [87]:
for f in fruits:
    if f == 'Banana':
        break
    print(f)

Apple
Grape
Orange

In [88]:
for f in fruits:
    if f == 'Banana':
        continue
    print(f)

Apple
Grape
Orange
Cherry

In [89]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
for n in range(1,10):
    print(n)

1
2
3
4
5
6
7
8
9

In [95]:
for n in range(1,31):
    print(n)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
-16
-17
-18
-19
-20
-21
-22
-23
-24
-25
-26
-27
-28
-29
-30

In [96]:
#How to loop with indexes in Python
len(sc)

11

In [97]:
len(fruits)

5

In [99]:
range(5)

range(0, 5)

In [100]:
list(range(5))

[0, 1, 2, 3, 4]

In [107]:
for index in range(len(fruits)):
    print(index, fruits[index])

0 Apple
1 Grape
2 Orange
3 Banana
4 Cherry

In [110]:
for index in range(len(fruits)):
    print(f'fruit at index {index}, is {fruits[index]}')

fruit at index 0, is Apple
fruit at index 1, is Grape
fruit at index 2, is Orange
fruit at index 3, is Banana
fruit at index 4, is Cherry

In [114]:
fruits.reverse()
for fruit in fruits:
    print(fruit)

Apple
Grape
Orange
Banana
Cherry

In [115]:
#enumerate retrieves both the index and the value of each item
for index, item in enumerate(fruits):
    print(f'fruit at index {index} is {item}')

fruit at index 0 is Apple
fruit at index 1 is Grape
fruit at index 2 is Orange
fruit at index 3 is Banana
fruit at index 4 is Cherry

In [120]:
# What if we wanted to loop over multiple things? Without nested loop
colors = ['red', 'green', 'blue', 'purple']
ratios = [0.2 ,0.3 ,0.1 ,0.4]

lst = []
for index, item in enumerate(colors):
    lst.append((item,ratios[index] * 100))

In [121]:
lst

[('red', 20.0), ('green', 30.0), ('blue', 10.0), ('purple', 40.0)]

In [122]:
list(zip(colors,ratios))

[('red', 0.2), ('green', 0.3), ('blue', 0.1), ('purple', 0.4)]